<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>head</title>
</head>
<body>
<!--<ul class="nav nav-pills nav-stacked">-->
<!--    <li role="presentation" id="bar-1"><a href="bar-1">Bar 1</a></li>-->
<!--    <li role="presentation" id="bar-2">-->
<!--        <a href="#docCollapse" class="nav-header collapsed" data-toggle="collapse" id="collapseParent"-->
<!--           onclick="chevron_toggle()">Bar 2<span class="pull-right glyphicon glyphicon-chevron-down"></span></a>-->
<!--        <ul id="docCollapse" class="nav nav-list collapse">-->
<!--            <li><a href="#">Child Bar 1</a></li>-->
<!--            <li><a href="#">Child Bar 2</a></li>-->
<!--        </ul>-->
<!--    </li>-->
<!--    <li role="presentation" id="bar-3"><a href="bar-3">Bar 3</a></li>-->
<!--</ul>-->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/head">菜鸟教程</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/result">结果页面</a></li>
                <li><a href="#">SVN</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="result.html">结果页面</a></li>
                        <li><a href="#">EJB</a></li>
                        <li><a href="#">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">另一个分离的链接</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>